* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --viewport-width: 1920;
  --viewport-height: 1080;
  --keyboard-height: 570;
  --keyboard-width: 1300;
  --top-panel-height: 50;
  --middle-panel-width: 364;
  --symbol-keys-width: 798;
  --cursor-control-keys-width: 160;
  --calculator-width-regulating: var(--cursor-control-keys-width);
  --numpad-width: 213;
  --numpad-height: 280;
  --navigation-keys-width: 634;
  --function-keys-groups-width: 213;
  --navogation-claster-height: 280;
  --row-height: 50;
  --enter-key-width: 78;
  --img-width: 45;
  --key-width: 50;
  --key-height: 50;
  --indecators-width: var(--key-width);
  --shift-btn-width: 130;
  --smaller-nav-btn-width: 45;
  --smaller-nav-btn-height: 45;
  --led-weight: 10;
  --led-height: 10;
  --ctrl-btn-width: 85;
  --bigger-btn-width: 63;
  --space-btn-width: 293;
  --space-line-width: 20;
  --space-line-height: 2;
}

label {
  font-size: calc(2000vw / var(--viewport-width));
  color: #fff;
  margin-bottom: calc(1000vh / var(--viewport-height));
}

html,
body {
  background-color: rgb(53, 53, 53);
}

img {
  width: calc(100vw * var(--img-width) / var(--viewport-width));
}

.volume-regulator,
.btn-groups,
.indicator-leds,
.game-mode-rgb-control,
.navigation-buttons,
.volume-key,
.calculator,
.buttons,
.top-panel,
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-cluster,
.symbol-keys,
.cursor-control-keys,
.numpad,
.key-group,
.move-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column-center,
.input-container,
.indicators,
.keyboard,
.key-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 40000vh / var(--viewport-height)));
}

.text-form,
.Fn {
  display: grid;
  justify-items: center;
  align-items: center;
}

.keyboard-input {
  width: 50vw;
  height: calc(10000vh / var(--viewport-height));
  font-size: calc(1800vw / var(--viewport-width));
  border-radius: calc(800vw / var(--viewport-width));
  border: calc(150vw / var(--viewport-width)) solid #646464;
  margin-bottom: calc(4000vw / var(--viewport-width));
  background: #222;
  color: #fff;
  transition: border 0.2s, box-shadow 0.2s;
}

.image {
  display: flex;
  align-items: center;
  animation: animate 5s linear infinite;
  filter: drop-shadow(0 0 calc(300vw / var(--viewport-width)) #49ff18);
}

.keyboard {
  border-radius: calc(1500vw / var(--viewport-width));
  width: calc(100% * var(--keyboard-width) / var(--viewport-width));
  height: calc(100% * var(--keyboard-height) / var(--viewport-height));
  background-color: #171616;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: flex-start;
}

.key {
  font-size: calc(1300vw / var(--viewport-width));
  width: calc(100vw * var(--key-width) / var(--viewport-width));
  height: calc(100vh * var(--key-height) / var(--viewport-height));
  padding: calc(200vh / var(--viewport-height)) calc(200vw / var(--viewport-width));
  border: calc(100vw / var(--viewport-width)) solid rgb(190, 190, 190);
  border-radius: calc(500vw / var(--viewport-width));
  background-color: #171616;
  box-shadow: 0 0 calc(300vh / var(--viewport-height)) #49ff18;
  animation: animate 5s linear infinite;
}

.shift-btn {
  width: calc(100vw * var(--shift-btn-width) / var(--viewport-width));
}

.smaller-nav-btn {
  height: calc(100vh * var(--smaller-nav-btn-width) / var(--viewport-height));
  width: calc(100vw * var(--smaller-nav-btn-height) / var(--viewport-width));
}

.leds {
  width: calc(100vw * var(--led-weight) / var(--viewport-width));
  height: calc(100vh * var(--led-weight) / var(--viewport-height));
  background-color: white;
  box-shadow: 0 0 calc(1500vw / var(--viewport-width)) calc(200vw / var(--viewport-width)) #ffffff;
}

.indicator-text {
  white-space: nowrap;
  font-size: calc(800vw / var(--viewport-width));
  color: white;
  margin-top: calc(800vh / var(--viewport-height));
}

.indicators {
  height: 100%;
  width: calc(100vw * var(--indecators-width) / var(--viewport-width));
  align-items: center;
}

.Fn {
  cursor: pointer;
  height: 100%;
  color: white;
  background-color: #171616;
  border: calc(100vw / var(--viewport-width)) solid rgb(190, 190, 190);
  border-radius: calc(500vw / var(--viewport-width));
  text-shadow: 0 0 calc(200vw / var(--viewport-width)) #49ff18;
  transform: translate(0, calc(-500vh / var(--viewport-height)));
  box-shadow: 0 calc(500vh / var(--viewport-height)) 0 0 #49ff18;
  transition: all 0.2s;
}

.Fn:hover {
  transform: translate(0, 0);
  box-shadow: 0 0 0 0 #49ff18;
}

.indentation {
  height: 100%;
  width: 100%;
  padding: calc(3000vh / var(--viewport-height)) calc(4000vw / var(--viewport-width)) 0 calc(4000vw / var(--viewport-width));
}

.symbol-keys {
  width: calc(100vw * var(--symbol-keys-width) / var(--viewport-width));
}

.cursor-control-keys {
  width: calc(100vw * var(--cursor-control-keys-width) / var(--viewport-width));
}

.top-panel {
  height: calc(100vh * var(--top-panel-height) / var(--viewport-height));
  margin-bottom: calc(1000vh / var(--viewport-height));
}

.enter-icon {
  font-size: calc(2000vw / var(--viewport-width));
}

.smaller-key-size {
  font-size: calc(900vw / var(--viewport-width));
}

.caps {
  word-spacing: calc(2000vw / var(--viewport-width));
  margin-right: calc(1200vw / var(--viewport-width));
}

.row {
  height: calc(100vh * var(--row-height) / var(--viewport-height));
  margin: calc(500vh / var(--viewport-height)) calc(100vw / var(--viewport-width));
}

.ctrl-btn {
  width: calc(100vw * var(--ctrl-btn-width) / var(--viewport-width));
}

.bigger-btn {
  width: calc(100vw * var(--bigger-btn-width) / var(--viewport-width));
}

#gg-space {
  width: calc(100vw * var(--space-line-width) / var(--viewport-width));
  height: calc(100vh * var(--space-line-height) / var(--viewport-width));
  background-color: white;
  box-shadow: 0 0 calc(200vw / var(--viewport-width)) #49ff18;
}

.space-btn {
  width: calc(100vw * var(--space-btn-width) / var(--viewport-width));
}

.buttons {
  height: calc(100vh * var(--middle-panel-width) / var(--viewport-height));
}

.line_upper {
  width: calc(3500vw / var(--viewport-width));
  height: calc(150vh / var(--viewport-width));
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 calc(200vw / var(--viewport-width)) #49ff18;
}

.smaller-font-size {
  font-size: calc(800vw / var(--viewport-width));
}

.calculator {
  height: calc(100vh * var(--numpad-height) / var(--viewport-height));
}

.circle {
  border-radius: calc(4000vw / var(--viewport-width));
}

.key-text {
  align-items: center;
}

.extended-row,
.enter-btn,
.plus-btn {
  height: calc(10500vh / var(--viewport-height));
}

.navigation-buttons {
  height: 100%;
  align-items: center;
  width: calc(100vw * var(--navigation-keys-width) / var(--viewport-width));
}

.indicator-leds {
  width: calc(100vw * var(--function-keys-groups-width) / var(--viewport-width));
  padding: calc(800vh / var(--viewport-height)) 0 0 0;
  height: 100%;
}

.navigation-cluster {
  height: calc(100vh * var(--navogation-claster-height) / var(--viewport-height));
}

.numpad {
  width: calc(100vw * var(--numpad-width) / var(--viewport-width));
  height: 100%;
}

.width-regulating {
  width: calc(100vw * var(--calculator-width-regulating) / var(--viewport-width));
}

.volume-regulator {
  width: calc(100vw * var(--numpad-width) / var(--viewport-width));
}

.volume {
  width: calc(9000vw / var(--viewport-width));
  margin: 0 calc(750vw / var(--viewport-width));
}

.volume-off-btn {
  margin: 0 calc(300vw / var(--viewport-width));
}

.arrow-up-btn {
  margin: auto;
}

.game-mode-rgb-control {
  width: calc(100vh * var(--cursor-control-keys-width) / var(--viewport-height));
  padding: 0 calc(300vw / var(--viewport-width));
}

.backspace-btn,
.caps-btn,
.null-btn {
  width: calc(10400vw / var(--viewport-width));
}

.tab-btn,
.enter-key {
  width: calc(100vw * var(--enter-key-width) / var(--viewport-width));
}

.btn-groups {
  height: 100%;
  width: calc(100vw * var(--function-keys-groups-width) / var(--viewport-width));
}

.esc-btn {
  width: calc(5000vw / var(--viewport-width));
}

.icon-stretch {
  transform: scaleX(1.25);
}

.bold-icon-brightness {
  font-size: calc(1500vw / var(--viewport-width));
  filter: drop-shadow(0 0 calc(50vw / var(--viewport-width)) currentColor);
}

.bold-icon {
  font-size: calc(1800vw / var(--viewport-width));
}

.volume-key {
  padding: 0 calc(1000vw / var(--viewport-width));
  width: calc(8500vw / var(--viewport-width));
  align-items: center;
  height: 100%;
  font-size: calc(2000vw / var(--viewport-width));
}

.gg-minus {
  width: calc(1200vw / var(--viewport-width));
  height: calc(200vh / var(--viewport-height));
  background-color: white;
  box-shadow: 0 0 calc(200vw / var(--viewport-width)) #49ff18;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
