*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Normalize / Reset */
html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  background-color: #252525;
}

.input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + -100vh * 400 / 1080));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-form .input-label {
  font-size: calc(100vw * 20 / 1920);
  color: #ffffff;
  margin-bottom: calc(100vh * 10 / 1080);
}
.input-form .input-field {
  width: calc(100vw * 1000 / 1920);
  height: calc(100vh * 100 / 1080);
  background-color: rgb(22.2, 22.2, 22.2);
  color: #ffffff;
  font-size: calc(100vw * 18 / 1920);
  margin-bottom: calc(100vw * 40 / 1920);
  border-radius: calc(100vw * 8 / 1920);
  border: calc(100vw * 1.5 / 1920) solid #bebebe;
}

.keyboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: calc(100vw * 15 / 1920);
  width: calc(100vw * 1300 / 1920);
  height: calc(100vh * 570 / 1080);
  background-color: rgb(22.2, 22.2, 22.2);
}
.keyboard .indentation {
  width: 100%;
  height: 100%;
  padding: calc(100vh * 30 / 1080) calc(100vw * 40 / 1920) 0 calc(100vw * 40 / 1920);
}

.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 50;
  margin-bottom: calc(100vh * 10 / 1080);
}
.top-panel .image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation: animate 5s linear infinite;
  filter: drop-shadow(0 0 calc(100vw * 3 / 1920) #49ff18);
}
.top-panel img {
  width: calc(100vw * 45 / 1920);
  height: auto;
}
.top-panel .navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw * 634 / 1920);
  height: 100%;
}
.top-panel .navigation-buttons .indicator-leds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 213 / 1920);
  height: 100%;
  padding: calc(100vh * 8 / 1080) 0 0 0;
}
.top-panel .navigation-buttons .indicator-leds .indicators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw * 50 / 1920);
  height: 100%;
}
.top-panel .navigation-buttons .indicator-leds .indicators .leds {
  width: calc(100vw * 10 / 1920);
  height: calc(100vh * 10 / 1080);
  background-color: #ffffff;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 0 / 1080) calc(100vw * 13 / 1920) calc(100vw * 0 / 1920) #ffffff;
}
.top-panel .navigation-buttons .indicator-leds .indicators .indicator-text {
  white-space: nowrap;
  font-size: calc(100vw * 8 / 1920);
  color: #ffffff;
  margin-top: calc(100vh * 8 / 1080);
}
.top-panel .navigation-buttons .game-mode-rgb-control {
  width: calc(100vw * 160 / 1920);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 calc(100vw * 3 / 1920);
}
.top-panel .navigation-buttons .volume-regulator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 213 / 1920);
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh * 364 / 1080);
}
.buttons .symbol-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 798 / 1920);
}
.buttons .cursor-control-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 160 / 1920);
}
.buttons .cursor-control-keys .navigation-cluster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh * 280 / 1080);
}
.buttons .cursor-control-keys .navigation-cluster .key-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.buttons .cursor-control-keys .navigation-cluster .move-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.buttons .numpad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 213 / 1920);
  height: 100%;
}
.buttons .numpad .calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 280;
}
.buttons .numpad .calculator .width-regulating {
  width: calc(100vw * 160 / 1920);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh * 50 / 1080);
  margin: calc(100vh * 5 / 1080) calc(100vw * 1 / 1920);
}
.row .btn-groups {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 213 / 1920);
  height: 100%;
}
.row .btn-groups.esc-btn {
  width: calc(100vw * 50 / 1920);
}
.row.extended-row {
  height: calc(100vh * 105 / 1080);
}

.key {
  font-size: calc(100vw * 13 / 1920);
  width: calc(100vw * 50 / 1920);
  height: calc(100vh * 50 / 1080);
  padding: calc(100vh * 2 / 1080) calc(100vw * 2 / 1920);
  border-radius: calc(100vw * 5 / 1920);
  border: calc(100vw * 1 / 1920) solid #bebebe;
  background-color: rgb(22.2, 22.2, 22.2);
  animation: animate 5s linear infinite;
}
.key.circle {
  border-radius: calc(100vw * 40 / 1920);
}
.key.smaller-nav-btn {
  width: calc(100vw * 45 / 1920);
  height: calc(100vh * 45 / 1080);
}
.key.volume {
  width: calc(100vw * 90 / 1920);
  margin: 0 calc(100vw * 7.5 / 1920);
}
.key.volume-off-btn {
  margin: 0 calc(100vw * 3 / 1920);
}
.key.bigger-btn {
  width: calc(100vw * 63 / 1920);
}
.key.enter-key, .key.tab-btn {
  width: calc(100vw * 78 / 1920);
}
.key.backspace-btn, .key.caps-btn, .key.null-btn {
  width: calc(100vw * 104 / 1920);
}
.key.shift-btn {
  width: calc(100vw * 130 / 1920);
}
.key.ctrl-btn {
  width: calc(100vw * 85 / 1920);
}
.key.space-btn {
  width: calc(100vw * 293 / 1920);
}
.key.arrow-up-btn {
  margin: 0 auto;
}
.key.plus-btn, .key.enter-btn {
  height: calc(100vw * 105 / 1920);
}
.key .Fn {
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgb(22.2, 22.2, 22.2);
  border-radius: calc(100vw * 5 / 1920);
  border: calc(100vw * 1 / 1920) solid #bebebe;
  text-shadow: 0 0 calc(100vw * 2 / 1920) #49ff18;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 5 / 1080) calc(100vw * 0 / 1920) calc(100vw * 0 / 1920) #49ff18;
  transition: all 0.2s;
  transform: translate(0, calc(-100vh * 5 / 1080));
}
.key .Fn.circle {
  border-radius: calc(100vw * 40 / 1920);
}
.key .Fn.control-keys-font {
  font-size: calc(100vw * 8 / 1920);
}
.key .Fn.enter-icon {
  font-size: calc(100vw * 20 / 1920);
}
.key .Fn.smaller-keys-front {
  font-size: calc(100vw * 9 / 1920);
}
.key .Fn:hover {
  transform: translate(0, 0);
  box-shadow: none;
}
.key .Fn #gg-space {
  width: calc(100vw * 20 / 1920);
  height: calc(100vh * 2 / 1080);
  background-color: #ffffff;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 0 / 1080) calc(100vw * 2 / 1920) calc(100vw * 0 / 1920) animate;
}
.key .Fn .key-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.key .Fn .key-text .line_upper {
  width: calc(100vw * 35 / 1920);
  height: calc(100vh * 1.5 / 1080);
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 0 / 1080) calc(100vw * 2 / 1920) calc(100vw * 0 / 1920) animate;
}
.key .Fn .volume-key {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw * 85 / 1920);
  height: 100%;
  padding: 0 calc(100vh * 10 / 1080);
  font-size: calc(100vw * 20 / 1920);
}
.key .Fn .volume-key .gg-minus {
  width: calc(100vw * 12 / 1920);
  height: calc(100vh * 2 / 1080);
  background-color: #ffffff;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 0 / 1080) calc(100vw * 2 / 1920) calc(100vw * 0 / 1920) animate;
}
.key .Fn .icon-stretch {
  transform: scaleX(1.25);
}
.key .Fn .bold-icon {
  font-size: calc(100vw * 18 / 1920);
}
.key .Fn .brightness-icon-brighter {
  filter: drop-shadow(0 0 calc(100vw * 0.5 / 1920) currentColor);
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
