@use "base/reset";
@use "utils/variables" as *;
@use "utils/mixins" as *;
@use "components/input";
@use "components/keyboard";
@use "utils/functions" as *;

.btn-groups,
.calculator,
.buttons,
.top-panel,
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-cluster,
.symbol-keys,
.cursor-control-keys,
.numpad,
.key-group,
.move-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column-center,
.key-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shift-btn {
  width: calc(100vw * #{$shift-btn-width} / #{$viewport-width});
}
.Fn:hover {
  transform: translate(0, 0);
  box-shadow: 0 0 0 0 #49ff18;
}
.symbol-keys {
  width: calc(100vw * #{$symbol-keys-width} / #{$viewport-width});
}
.cursor-control-keys {
  width: calc(100vw * #{$cursor-control-keys-width} / #{$viewport-width});
}
.top-panel {
  height: calc(100vh * #{$top-panel-height} / #{$viewport-height});
  margin-bottom: calc(100vh * 10 / #{$viewport-height});
}

.enter-icon {
  font-size: calc(100vw * 20 / #{$viewport-width});
}
.smaller-key-size {
  font-size: calc(100vw * 9 / #{$viewport-width});
}
.caps {
  word-spacing: calc(100vw * 20 / #{$viewport-width});
  margin-right: calc(100vw * 12 / #{$viewport-width});
}
.row {
  height: calc(100vh * #{$row-height} / #{$viewport-height});
  margin: calc(100vh * 5 / #{$viewport-height})
    calc(100vw * 1 / #{$viewport-width});
}

.ctrl-btn {
  width: calc(100vw * #{$ctrl-btn-width} / #{$viewport-width});
}
.bigger-btn {
  width: calc(100vw * #{$bigger-btn-width} / #{$viewport-width});
}
#gg-space {
  width: calc(100vw * #{$space-line-width} / #{$viewport-width});
  height: calc(100vh * #{$space-line-height} / #{$viewport-width});
  background-color: white;
  box-shadow: 0 0 calc(100vw * 2 / #{$viewport-width}) #49ff18;
}
.space-btn {
  width: calc(100vw * #{$space-btn-width} / #{$viewport-width});
}
.buttons {
  height: calc(100vh * #{$middle-panel-width} / #{$viewport-height});
}
.line_upper {
  width: calc(100vw * 35 / #{$viewport-width});
  height: calc(100vh * 1.5 / #{$viewport-width});
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 calc(100vw * 2 / #{$viewport-width}) #49ff18;
}
.smaller-font-size {
  font-size: calc(100vw * 8 / #{$viewport-width});
}

.calculator {
  height: calc(100vh * #{$numpad-height} / #{$viewport-height});
}

.key-text {
  align-items: center;
}
.extended-row,
.enter-btn,
.plus-btn {
  height: calc(100vh * 105 / #{$viewport-height});
}
.navigation-cluster {
  height: calc(100vh * #{$navogation-claster-height} / #{$viewport-height});
}
.numpad {
  width: calc(100vw * #{$numpad-width} / #{$viewport-width});
  height: 100%;
}
.width-regulating {
  width: calc(100vw * #{$calculator-width-regulating} / #{$viewport-width});
}

.arrow-up-btn {
  margin: auto;
}
.backspace-btn,
.caps-btn,
.null-btn {
  width: calc(100vw * 104 / #{$viewport-width});
}
.tab-btn,
.enter-key {
  width: calc(100vw * #{$enter-key-width} / #{$viewport-width});
}
.btn-groups {
  height: 100%;
  width: calc(100vw * #{$function-keys-groups-width} / #{$viewport-width});
}
.esc-btn {
  width: calc(100vw * 50 / #{$viewport-width});
}
.icon-stretch {
  transform: scaleX(1.25);
}
.bold-icon-brightness {
  font-size: calc(100vw * 15 / #{$viewport-width});
  filter: drop-shadow(0 0 calc(100vw * 0.5 / #{$viewport-width}) currentColor);
}
.bold-icon {
  font-size: calc(100vw * 18 / #{$viewport-width});
}
.gg-minus {
  width: calc(100vw * 12 / #{$viewport-width});
  height: calc(100vh * 2 / #{$viewport-height});
  background-color: white;
  box-shadow: 0 0 calc(100vw * 2 / #{$viewport-width}) #49ff18;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
