* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-size: calc(100vw * 20 / 1920);
  color: #fff;
  margin-bottom: calc(100vh * 10 / 1081);
}
body {
  background-color: rgb(53, 53, 53);
}
img {
  width: calc(100vw * 45 / 1920);
}

.volume-regulator,
.btn-groups,
.indicator-leds,
.game-mode-rgb-control,
.navigation-buttons,
.volume-key,
.calculator,
.buttons,
.top-panel,
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-cluster,
.first_part,
.second-part,
.third-part,
.key-group,
.move-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column-center,
.input-container,
.indicators,
.keyboard,
.key-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - calc(100vh * 400 / 1081)));
}
.text-form,
.Fn {
  display: grid;
  justify-items: center;
  align-items: center;
}

.keyboard-input {
  width: 50vw;
  height: calc(100vh * 100 / 1081);
  font-size: calc(100vw * 18 / 1920);
  border-radius: calc(100vw * 8 / 1920);
  border: calc(100vw * 1.5 / 1920) solid #646464;
  margin-bottom: calc(100vw * 40 / 1920);
  background: #222;
  color: #fff;
  transition: border 0.2s, box-shadow 0.2s;
}
.image {
  display: flex;
  align-items: center;
  animation: animate 5s linear infinite;
  filter: drop-shadow(0 0 calc(100vw * 3 / 1920) #49ff18);
}
.keyboard {
  border-radius: calc(100vw * 15 / 1920);
  width: calc(100% * 1300 / 1920);
  height: calc(100% * 570 / 1081);
  background-color: #171616;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: flex-start;
}
.key {
  font-size: calc(100vw * 13 / 1920);
  width: calc(100vw * 50 / 1920);
  height: calc(100vh * 50 / 1081);
  padding: calc(100vh * 2 / 1081) calc(100vw * 2 / 1920);
  border: calc(100vw * 1 / 1920) solid rgb(190, 190, 190);
  border-radius: calc(100vw * 5 / 1920);
  background-color: #171616;
  box-shadow: 0 0 calc(100vh * 3 / 1081) #49ff18;
  animation: animate 5s linear infinite;
}
.shift-btn {
  width: calc(100vw * 130 / 1920);
}
.smaller-nav-btn {
  height: calc(100vh * 45 / 1081);
  width: calc(100vw * 45 / 1920);
}
.leds {
  width: calc(100vw * 10 / 1920);
  height: calc(100vh * 10 / 1081);
  background-color: white;
  box-shadow: 0 0 calc(100vw * 15 / 1920) calc(100vw * 2 / 1920) #ffffff;
}
.indicator-text {
  white-space: nowrap;
  font-size: calc(100vw * 8 / 1920);
  color: white;
  margin-top: calc(100vh * 8 / 1081);
}
.indicators {
  height: 100%;
  width: calc(100vw * 50 / 1920);
  align-items: center;
}
.Fn {
  cursor: pointer;
  height: 100%;
  color: white;
  background-color: #171616;
  border: calc(100vw * 1 / 1920) solid rgb(190, 190, 190);
  border-radius: calc(100vw * 5 / 1920);
  text-shadow: 0 0 calc(100vw * 2 / 1920) #49ff18;
  transform: translate(0, calc(100vh * -5 / 1081));
  box-shadow: 0 calc(100vh * 5 / 1081) 0 0 #49ff18;
  transition: all 0.2s;
}
.Fn:hover {
  transform: translate(0, 0);
  box-shadow: 0 0 0 0 #49ff18;
}

.indentation {
  height: 100%;
  width: 100%;
  padding: calc(100vh * 30 / 1081) calc(100vw * 40 / 1920) 0
    calc(100vw * 40 / 1920);
}
.first_part {
  width: calc(100vw * 798 / 1920);
}
.second-part {
  width: calc(100vw * 160 / 1920);
}
.top-panel {
  width: 100%;
  height: calc(100vh * 50 / 1081);
  margin-bottom: calc(100vh * 10 / 1081);
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.enter-icon {
  font-size: calc(100vw * 20 / 1920);
}
.smaller-key-size {
  font-size: calc(100vw * 9 / 1920);
}
.caps {
  word-spacing: calc(100vw * 20 / 1920);
  margin-right: calc(100vw * 12 / 1920);
}
.row {
  height: calc(100vh * 50 / 1081);
  width: 100%;
  margin: calc(100vh * 5 / 1081) calc(100vw * 1 / 1920);
}

.ctrl-btn {
  width: calc(100vw * 85 / 1920);
}
.bigger-btn {
  width: calc(100vw * 63 / 1920);
}
#gg-space {
  width: calc(100vw * 20 / 1920);
  height: calc(100vh * 2 / 1920);
  background-color: white;
  box-shadow: 0 0 calc(100vw * 2 / 1920) #49ff18;
}
.space-btn {
  width: calc(100vw * 293 / 1920);
}
.buttons {
  height: calc(100vh * 364 / 1081);
  min-height: calc(100vh * 364 / 1081);
}
.line_upper {
  width: calc(100vw * 35 / 1920);
  height: calc(100vh * 1.5 / 1920);
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 calc(100vw * 2 / 1920) #49ff18;
}
.smaller-font-size {
  font-size: calc(100vw * 8 / 1920);
}

.calculator {
  height: calc(100vh * 280 / 1081);
}
.circle {
  border-radius: calc(100vw * 40 / 1920);
}

.key-text {
  align-items: center;
}
.extended-row,
.enter-btn,
.plus-btn {
  height: calc(100vh * 105 / 1081);
}
.navigation-buttons {
  height: 100%;
  align-items: center;
  width: calc(100vw * 632 / 1920);
}
.indicator-leds {
  width: calc(100vw * 210 / 1920);
  padding: calc(100vh * 8 / 1081) 0 0 0;
  height: 100%;
}
.navigation-cluster {
  height: calc(100vh * 280 / 1081);
}
.third-part {
  width: calc(100vw * 213 / 1920);
  height: 100%;
}
.width-regulating {
  width: calc(100vw * 158 / 1920);
}
.volume-regulator {
  width: calc(100% / 3);
  padding: 0 calc(100vw * 7.5 / 1920) 0 calc(100vw * 3 / 1920);
}
.volume {
  width: calc(100vw * 90 / 1920);
}
.arrow-up-btn {
  margin: auto;
}
.game-mode-rgb-control {
  width: calc(100vh * 160 / 1081);
  padding: 0 calc(100vw * 3 / 1920);
}
.backspace-btn,
.caps-btn,
.null-btn {
  width: calc(100vw * 104 / 1920);
}
.tab-btn,
.enter-key {
  width: calc(100vw * 78 / 1920);
}
.btn-groups {
  height: 100%;
  width: calc(100vw * 212 / 1920);
}
.esc-btn {
  width: calc(100vw * 50 / 1920);
}
.icon-stretch {
  transform: scaleX(1.25);
}
.bold-icon-brightness {
  font-size: calc(100vw * 15 / 1920);
  filter: drop-shadow(0 0 calc(100vw * 0.5 / 1920) currentColor);
}
.bold-icon {
  font-size: calc(100vw * 18 / 1920);
}
.volume-key {
  padding: 0 calc(100vw * 10 / 1920);
  width: calc(100vw * 85 / 1920);
  align-items: center;
  height: 100%;
  font-size: calc(100vw * 20 / 1920);
}
.gg-minus {
  width: calc(100vw * 12 / 1920);
  height: calc(100vh * 2 / 1081);
  background-color: white;
  box-shadow: 0 0 calc(100vw * 2 / 1920) #49ff18;
}
