@use "sass:color";
//animations
$rgb-animation-name: animate;

// Colours
$text-white: #ffffff;
$background-white: #ffffff;
$website-bg-color: #252525;
$keyboard-color: color.scale($website-bg-color, $lightness: -40%);
$key-color: $keyboard-color;
$input-field-color: $keyboard-color;
$borders-color: #bebebe;
$rgb-lighting-color: #49ff18;
// Viewport size
$viewport-width: 1920;
$viewport-height: 1080;
// Keyboard size
$keyboard-height: 570;
$keyboard-width: 1300;
// Input field size
$input-field-width: 1000;
$input-field-height: 100;

// Panels and sections sizes
$top-panel-height: 50;
$middle-panel-width: 364;
$symbol-keys-width: 798;
$cursor-control-keys-width: 160;
$calculator-width-regulating: $cursor-control-keys-width;
$numpad-width: 213;
$numpad-height: 280;
$navigation-keys-width: 634;
$volum-regulator-section-width: $numpad-width;
$function-keys-groups-width: 213;
$navigation-claster-height: 280;
$row-height: 50;
$enter-key-width: 78;
$img-width: 45;
$key-width: 50;
$key-height: 50;
$indicators-width: $key-width;
$shift-btn-width: 130;
$smaller-nav-btn-width: 45;
$smaller-nav-btn-height: 45;
$led-width: 10;
$led-height: 10;
$ctrl-btn-width: 85;
$bigger-btn-width: 63;
$space-btn-width: 290;
$backspace-btn-width: 105;
$caps-btn-width: $backspace-btn-width;
$null-btn-width: $caps-btn-width;
$space-line-width: 20;
$space-line-height: 2;
$volume-btn-width: 85;
$minus-sign-width: 12;
$minus-sign-height: 2;
$line-upper-width: 35;
$line-upper-height: 1.5;
$featured-row-height: 105;
$plus-btn-height: $featured-row-height;
$enter-btn-height: $plus-btn-height;
$esc-btn-width: 50;
