*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Normalize / Reset */
html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  background-color: #252525;
}

.input {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + -100vh * 400 / 1080));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  transition: all 2s ease;
}
.input--show-effect {
  opacity: 1;
}
.input__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input__form-label {
  font-size: calc(100vw * 20 / 1920);
  color: #ffffff;
  margin-bottom: calc(100vh * 10 / 1080);
}
.input__form-submit {
  width: calc(100vw * 100 / 1920);
  height: calc(100vh * 40 / 1080);
  cursor: pointer;
  background-color: rgb(57.12, 57.12, 57.12);
  color: #ffffff;
  border-radius: calc(100vw * 2 / 1920);
  border: calc(100vw * 1.5 / 1920) solid #bebebe;
  margin-bottom: calc(100vw * 20 / 1920);
}
.input__form-field {
  width: calc(100vw * 1000 / 1920);
  height: calc(100vh * 100 / 1080);
  background-color: rgb(22.2, 22.2, 22.2);
  color: #ffffff;
  font-size: calc(100vw * 18 / 1920);
  margin-bottom: calc(100vw * 40 / 1920);
  border-radius: calc(100vw * 8 / 1920);
  border: calc(100vw * 1.5 / 1920) solid #bebebe;
}

.keyboard {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: calc(100vw * 15 / 1920);
  width: calc(100vw * 1300 / 1920);
  height: calc(100vh * 570 / 1080);
  background-color: rgb(22.2, 22.2, 22.2);
  transition: opacity 1s ease;
}
.keyboard--show-effect {
  opacity: 1;
}
.keyboard__inner {
  width: 100%;
  height: 100%;
  padding: calc(100vh * 30 / 1080) calc(100vw * 40 / 1920) 0 calc(100vw * 40 / 1920);
}

.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh * 50 / 1080);
  margin-bottom: calc(100vh * 10 / 1080);
}
.top-panel__image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw * 45 / 1920);
  height: auto;
  animation: animate 5s linear infinite;
  filter: drop-shadow(0 0 calc(100vw * 3 / 1920) #49ff18);
}
.top-panel__image__logitech-logo {
  width: calc(100vw * 45 / 1920);
  height: auto;
}
.top-panel__nav-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw * 634 / 1920);
  height: 100%;
}
.top-panel__nav-blocks .nav-blocks__led-indecators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 213 / 1920);
  height: 100%;
  padding: calc(100vh * 8 / 1080) 0 0 0;
}
.top-panel__nav-blocks .nav-blocks__led-indecators .nav-blocks__indecator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw * 50 / 1920);
  height: 100%;
}
.top-panel__nav-blocks .nav-blocks__led-indecators .nav-blocks__indecator-led {
  width: calc(100vw * 10 / 1920);
  height: calc(100vh * 10 / 1080);
  background-color: rgb(86.802, 86.802, 86.802);
}
.top-panel__nav-blocks .nav-blocks__led-indecators .nav-blocks__indecator .on {
  background-color: #ffffff;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 0 / 1080) calc(100vw * 13 / 1920) calc(100vw * 0 / 1920) #ffffff;
}
.top-panel__nav-blocks .nav-blocks__led-indecators .nav-blocks__indecator-text {
  white-space: nowrap;
  font-size: calc(100vw * 8 / 1920);
  color: #ffffff;
  margin-top: calc(100vh * 8 / 1080);
}
.top-panel__nav-blocks .nav-blocks__game-mode {
  width: calc(100vw * 160 / 1920);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 calc(100vw * 3 / 1920);
}
.top-panel__nav-blocks .nav-blocks__vol-regulator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 213 / 1920);
  height: 100%;
}

.main-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh * 364 / 1080);
}
.main-panel__symbol-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 798 / 1920);
}
.main-panel__cursor-control-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 160 / 1920);
}
.main-panel__cursor-control-keys .main-panel__navigation-cluster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh * 280 / 1080);
}
.main-panel__cursor-control-keys .main-panel__navigation-cluster__editor-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.main-panel__cursor-control-keys .main-panel__navigation-cluster__arrow-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.main-panel__numpad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 213 / 1920);
  height: 100%;
}
.main-panel__numpad-calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh * 280 / 1080);
}
.main-panel__numpad-calculator .main-panel__numpad-width-regulating {
  width: calc(100vw * 160 / 1920);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh * 50 / 1080);
  margin: calc(100vh * 5 / 1080) calc(100vw * 1 / 1920);
}
.row--featured-height {
  height: calc(100vw * 105 / 1920);
}
.row__btn-groups {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: calc(100vw * 213 / 1920);
  height: 100%;
}
.row__btn-groups--esc {
  width: calc(100vw * 50 / 1920);
}

.key {
  font-size: calc(100vw * 13 / 1920);
  width: calc(100vw * 50 / 1920);
  height: calc(100vh * 50 / 1080);
  padding: calc(100vh * 2 / 1080) calc(100vw * 2 / 1920);
  border-radius: calc(100vw * 5 / 1920);
  border: calc(100vw * 1 / 1920) solid #bebebe;
  background-color: rgb(22.2, 22.2, 22.2);
  animation: animate 5s linear infinite;
}
.key--circle {
  border-radius: calc(100vw * 40 / 1920);
}
.key--smaller-nav-btn {
  width: calc(100vw * 45 / 1920);
  height: calc(100vh * 45 / 1080);
}
.key--volume {
  width: calc(100vw * 85 / 1920);
  margin: 0 calc(100vw * 7.5 / 1920);
}
.key--volume-off {
  font-size: calc(100vw * 17 / 1920);
  margin: 0 calc(100vw * 3 / 1920);
}
.key--wider {
  width: calc(100vw * 63 / 1920);
}
.key--enter, .key--tab {
  width: calc(100vw * 78 / 1920);
}
.key--backspace {
  width: calc(100vw * 105 / 1920);
}
.key--caps {
  width: calc(100vw * 105 / 1920);
}
.key--null {
  width: calc(100vw * 105 / 1920);
}
.key--shift {
  width: calc(100vw * 130 / 1920);
}
.key--ctrl-left, .key--ctrl-right {
  width: calc(100vw * 85 / 1920);
}
.key--space {
  width: calc(100vw * 290 / 1920);
}
.key--plus {
  height: calc(100vh * 105 / 1080);
}
.key--enter-featured {
  height: calc(100vh * 105 / 1080);
}
.key--single-arrow-up {
  margin: 0 auto;
}
.key__inner {
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgb(22.2, 22.2, 22.2);
  border-radius: calc(100vw * 5 / 1920);
  border: calc(100vw * 1 / 1920) solid #bebebe;
  text-shadow: 0 0 calc(100vw * 2 / 1920) #49ff18;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 5 / 1080) calc(100vw * 0 / 1920) calc(100vw * 0 / 1920) #49ff18;
  transition: all 0.1s;
  transform: translate(0, calc(-100vh * 5 / 1080));
}
.key__inner--circle {
  border-radius: calc(100vw * 40 / 1920);
}
.key__inner--control-keys-font {
  font-size: calc(100vw * 8 / 1920);
}
.key__inner--enter {
  font-size: calc(100vw * 20 / 1920);
}
.key__inner--smaller-front {
  font-size: calc(100vw * 9 / 1920);
}
.key__inner.pressed {
  transform: translate(0, 0);
  box-shadow: none;
}
.key__inner__space {
  width: calc(100vw * 20 / 1920);
  height: calc(100vh * 2 / 1080);
  background-color: #ffffff;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 0 / 1080) calc(100vw * 2 / 1920) calc(100vw * 0 / 1920) animate;
}
.key__inner__key-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.key__inner__key-text .key__inner__line-upper {
  width: calc(100vw * 35 / 1920);
  height: calc(100vh * 1.5 / 1080);
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 0 / 1080) calc(100vw * 2 / 1920) calc(100vw * 0 / 1920) animate;
}
.key__inner__volume-key {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw * 85 / 1920);
  height: 100%;
  padding: 0 calc(100vh * 10 / 1080);
  font-size: calc(100vw * 20 / 1920);
}
.key__inner__volume-key__minus {
  width: calc(100vw * 12 / 1920);
  height: calc(100vh * 2 / 1080);
  background-color: #ffffff;
  box-shadow: calc(100vw * 0 / 1920) calc(100vh * 0 / 1080) calc(100vw * 2 / 1920) calc(100vw * 0 / 1920) animate;
}
.key__inner__stretch {
  transform: scaleX(1.25);
}
.key__inner__bold {
  font-size: calc(100vw * 18 / 1920);
}
.key__inner__brightness-up {
  filter: drop-shadow(0 0 calc(100vw * 0.5 / 1920) currentColor);
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
