@use "../utils/mixins" as *;
@use "../utils/variables" as *;
@use "../utils/functions" as *;

.input {
  @include positioning_absolute-center(-50%, calc(-50% + vh-neg(400)));
  @include flex-column-center;
  &__form {
    @include flex-column-center(center);
    &-label {
      font-size: vw(20);
      color: $text-white;
      margin-bottom: vh(10);
    }
    &-field {
      @include sizing($input-field-width, $input-field-height);
      background-color: $input-field-color;
      color: $text-white;
      font-size: vw(18);
      margin-bottom: vw(40);
      @include border-style(8, 1.5, $borders-color);
    }
  }
}
