@use "../utils/mixins" as *;
@use "../utils/variables" as *;
@use "../utils/functions" as *;

.keyboard {
  opacity: 0;
  @include positioning_absolute-center();
  @include flex-column-center(flex-start);
  border-radius: vw(15);
  @include sizing($keyboard-width, $keyboard-height);
  background-color: $keyboard-color;
  transition: all 1s ease;
  &--show-effect {
    @include show-effect(1);
  }
  &__inner {
    @include sizing(100%, 100%);
    padding: vh(30) vw(40) 0 vw(40);
  }
}

.top-panel {
  @include flex-row-between;
  height: vh($top-panel-height);
  margin-bottom: vh(10);
  &__image {
    @include flex-row-between(center);
    @include sizing($img-width);
    @include animation-linear-infinite(animate, 5s);
    filter: drop-shadow(0 0 vw(3) $rgb-lighting-color);
    &__logitech-logo {
      @include sizing($img-width);
    }
  }
  &__nav-blocks {
    @include flex-row-between(center);
    @include sizing($navigation-keys-width, 100%);
    .nav-blocks__led-indecators {
      @include flex-row-between;
      @include sizing($function-keys-groups-width, 100%);
      padding: vh(8) 0 0 0;
      .nav-blocks__indecator {
        @include flex-column-center(center);
        @include sizing($indicators-width, 100%);
        &-led {
          @include sizing($led-width, $led-height);
          background-color: $led-indicators-off-color;
        }
        .on {
          background-color: $background-white;
          @include box-shadow-blur(13, $background-white);
        }
        &-text {
          white-space: nowrap;
          font-size: vw(8);
          color: $text-white;
          margin-top: vh(8);
        }
      }
    }
    .nav-blocks__game-mode {
      @include sizing($cursor-control-keys-width, 100%);
      @include flex-row-between;
      padding: 0 vw(3);
    }
    .nav-blocks__vol-regulator {
      @include flex-row-between();
      @include sizing($volum-regulator-section-width, 100%);
    }
  }
}

.main-panel {
  @include flex-row-between;
  height: vh($middle-panel-width);
  &__symbol-keys {
    @include flex-column-between;
    width: vw($symbol-keys-width);
  }
  &__cursor-control-keys {
    @include flex-column-between;
    width: vw($cursor-control-keys-width);
    .main-panel__navigation-cluster {
      @include flex-column-between;
      height: vh($navigation-claster-height);
      &__editor-keys {
        @include flex-column-between;
      }
      &__arrow-keys {
        @include flex-column-between;
      }
    }
  }
  &__numpad {
    @include flex-column-between;
    @include sizing($numpad-width, 100%);
    &-calculator {
      @include flex-row-between;
      height: vh($numpad-height);
      .main-panel__numpad-width-regulating {
        width: vw($calculator-width-regulating);
      }
    }
  }
}

.row {
  @include flex-row-between;
  height: vh($row-height);
  margin: vh(5) vw(1);
  &--featured-height {
    height: vw($featured-row-height);
  }
  &__btn-groups {
    @include flex-row-between;
    @include sizing($function-keys-groups-width, 100%);
    &--esc {
      width: vw($esc-btn-width);
    }
  }
}

.key {
  font-size: vw(13);
  @include sizing($key-width, $key-height);
  padding: vh(2) vw(2);
  @include border-style;
  background-color: $key-color;
  @include animation-linear-infinite(animate, 5s);
  &--circle {
    border-radius: vw(40);
  }
  &--smaller-nav-btn {
    @include sizing($smaller-nav-btn-width, $smaller-nav-btn-height);
  }
  &--volume {
    width: vw($volume-btn-width);
    margin: 0 vw(7.5);
  }
  &--volume-off {
    font-size: vw(17);
    margin: 0 vw(3);
  }
  &--wider {
    width: vw($bigger-btn-width);
  }
  &--enter,
  &--tab {
    width: vw($enter-key-width);
  }
  &--backspace {
    width: vw($backspace-btn-width);
  }
  &--caps {
    width: vw($caps-btn-width);
  }
  &--null {
    width: vw($null-btn-width);
  }
  &--shift {
    width: vw($shift-btn-width);
  }
  &--ctrl {
    width: vw($ctrl-btn-width);
  }
  &--space {
    width: vw($space-btn-width);
  }
  &--plus {
    height: vh($plus-btn-height);
  }
  &--enter-featured {
    height: vh($enter-btn-height);
  }
  &--single-arrow-up {
    margin: 0 auto;
  }
  &__inner {
    @include grid-absolute-center;
    cursor: pointer;
    @include sizing(100%, 100%);
    color: $text-white;
    background-color: $key-color;
    @include border-style;
    text-shadow: 0 0 vw(2) $rgb-lighting-color;
    @include box-shadow(0, 5, 0, 0, $rgb-lighting-color);
    transition: all 0.1s;
    @include transform-translate(0, vh-neg(5));
    &--circle {
      border-radius: vw(40);
    }
    &--control-keys-font {
      font-size: vw(8);
    }
    &--enter {
      font-size: vw(20);
    }
    &--smaller-front {
      font-size: vw(9);
    }
    &.pressed {
      @include transform-translate(0, 0);
      box-shadow: none;
    }
    &__space {
      @include sizing($space-line-width, $space-line-height);
      background-color: $background-white;
      @include box-shadow-blur;
    }
    &__key-text {
      @include flex-column-center(center);
      .key__inner__line-upper {
        @include sizing($line-upper-width, $line-upper-height);
        background-color: $background-white;
        margin: 0 auto;
        @include box-shadow-blur;
      }
    }
    &__volume-key {
      @include flex-row-between(center);
      @include sizing($volume-btn-width, 100%);
      padding: 0 vh(10);
      font-size: vw(20);
      &__minus {
        @include sizing($minus-sign-width, $minus-sign-height);
        background-color: $background-white;
        @include box-shadow-blur;
      }
    }
    &__stretch {
      transform: scaleX(1.25);
    }
    &__bold {
      font-size: vw(18);
    }
    &__brightness-up {
      filter: drop-shadow(0 0 vw(0.5) currentColor);
    }
  }
}
